* {
    margin: 0;
    padding: 0;
}

header, main, footer ,aside , section {
    display: block;
}
a{
    text-decoration: none;
}

header {
 
    text-decoration: none;
    width: 100%;


} 
.sec1 {
    background-color: #ED4C5C;
    padding-top: 60.8px;
}

#logo{
    display: inline-block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 57px;
    
    height: 20px;
    width: 24.65px;
}
#logo span{
    display: inline-block;
    width: 152px;
    height: 22px;
    font-family: lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-transform: uppercase;
     padding-left:35px;
   
    color: #FFFFFF;

}

nav{
    padding-left: 49px;
    padding-top: 48px;
    border-style: none;
    
    font-family: Lato;
    font-style: normal;

font-size: 14px;
line-height: 17px;

align-items: center;
text-transform: uppercase;

}

#nav1 a:hover{
    color: gray;
}
#nav1 a{
    padding: 10px;
    color: #FFFFFF;
    
}

.sec1 button {
    border-style: none;
    width: 160px;
    height: 50px;
    margin-top: 45px;
    margin-left: 50px;
    margin-bottom: 55px;
    color: #ED4C5C;
    border-radius: 6px;

}
.sec1 img{
    display: block;
    width: 445px;
    height: 311px;
    margin-left: 89px;
    margin-top: 45px;

    border-radius: 15px;
}
.sec2 {

    width: 1440px;
    height: 657px;
    left: 0px;
    top: 657px;
    padding-left: 50px;
    padding-top: 56px;
    background: #FFFFFF;
}
.sec2 h1{
    width: 445px;
    height: 89px;
    left: 50px;
    top: 713px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    
    color: #000000;

    
    
}
.sec2 p{
    width: 445px;
    height: 83px;

    margin-top: 1px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    
    text-align: justify;
    
    color: #000000;
    margin-bottom: 20px;
}
.sec2 a{
    display: block;
    color:#ED4C5C;
    margin-bottom: 40px;
    
}
.sec2 img{


    margin-right: 30px;
    
}
.boxed a{
    display: inline-block;
    margin-top: -50px;
    margin-right: 30px;
    width: 350px;
    height: 40px;
    vertical-align: 10px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    
    color: #ED4C5C;
    background: #FFFFFF;
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}


.sec3{
    
    padding-top: 56px;
    padding-bottom:271px;
    padding-left: 50px;

    background: #F5F4F4;
}
.sec3 h1{
    
    width: 100%;
    height: 47px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}
.boxes{
    display: inline-block;
    width: 255px;
    height: 226px;
   margin-right: 30px;
    margin-top: 56px; 

    background: #FFFFFF;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #000000;
}
.boxes img{
    margin-top: 69px;
}
.sec3 h3{
    margin-top: 21px;
    margin-bottom: 10px;
}


.foot{

    width: 100%;
    height: 50px;

padding-top: 20px ;
padding-left: 15px;
background: #ED4C5C;
}
.foot img{

    margin-left: 30px;

}
.foot h2{
    display: inline-block;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
margin-left: 30px;

color: #FFFFFF;
}
